<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.galaisen.groomreader">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".GroomApplication"
        android:allowBackup="true"
        android:icon="@drawable/groom_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.ScannerActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity android:name=".activities.YoshimiActivity"
                  android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".activities.AccountActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".activities.EventsActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        
        <activity android:name=".activities.EventActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>
